.DS_Store
compilation1.py
make_panel.py
spacing_dimercheck.py
SM_V7_2_run4_2000_primers.tsv
new_designs.py
spacing_dimercheck2.py
SM_V7_7_run4_2000_primers.tsv
design_primers.py
old_designs2.py
spacing_dimercheck3.py
designs4.py
pool2kb_run5primers042021.tsv
target.py
compilation
final_primers032021.tsv
pool_primers042021.tsv
compilation.py
findstring.py
